main {
    padding: 80px 0;
}

body {
    font-size: 14px;
    background-color: #f1f3f6;
    color: #212121;
    line-height: 1.4;
}

.card {
    &.p-card {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        img {
            &.card-img-top {
                width: 354px;
                height: 190px;
                transition: 0.5s cubic-bezier(0.6, 0.03, 0.28, 0.98);
                transform: scale(0.8);

                &:hover {
                    transform: scale(1);
                    transition: 0.5s cubic-bezier(0.6, 0.03, 0.28, 0.98);
                }
            }
        }

        margin-bottom: 20px;
    }
}

.navbar {
    ul {
        li {
            a {
                position: relative;

                span.cart-icon {
                    position: absolute;
                    left: 30px;
                    right: auto;
                    top: 0px;
                    font-size: 10px;
                }

                &.nav-link {
                    &.active {
                        color: red;
                    }

                }
            }
        }
    }
}

.home {

    /* Add this CSS to your stylesheet */
    .carousel-item {
        height: 300px;
        /* Set the desired fixed height */
    }

    /* If you want to ensure images don't overflow, you can use object-fit */
    .carousel-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .carousel-caption {
        background-color: #000000a8;
        border-radius: 12px;
        padding: 10px;
    }
}

.reviews {
    .card {
        margin-bottom: 30px;
    }
}

.shake {
    animation: shake 0.5s;
    animation-iteration-count: 1s;
}

/* breadcrumbs */
.breadcrumbs {
    margin: 20px auto;
    background: rgba(0, 0, 0, 0.6588235294);
    padding: 10px;
    border-radius: 10px;
    text-transform: capitalize;
}

.breadcrumbs>* {
    display: inline-block;
    margin-right: 10px;
}

.breadcrumbs .crumb:after {
    content: '/';
    margin-left: 10px;
    color: #fff;
}

.breadcrumbs .crumb:last-child:after {
    display: none;
}

.breadcrumbs .crumb a {
    color: #ddd;
}

.signIn-container {
    .password-input {
        position: relative;

        .material-icons {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }
    }
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}